{% extends 'layout.html' %}
{% block content %}
<h1>Abgerechnete Bestellungen</h1>
<!-- CSV-Import Formular -->
<form method="post" enctype="multipart/form-data" class="mb-4">
  <div class="row g-2">
    <div class="col-12 col-md-6">
      <input type="file" name="file" class="form-control" accept=".csv">
    </div>
    <div class="col-12 col-md-3 d-grid">
      <button type="submit" class="btn btn-warning">CSV-Datei importieren</button>
    </div>
  </div>
</form>
<div class="table-responsive">
<table class="table table-striped">
  <thead><tr><th>Rechennummer</th><th>SKU</th><th>Menge</th><th>Bestelldatum</th></tr></thead>
  <tbody>
  {% for m in movements %}
  <tr>
    <td>{{ m.invoice_number }}</td>
    <td>{{ m.article.sku }}</td>
    <td>{{ m.quantity|abs }}</td>
    <td>{{ m.timestamp.strftime('%Y-%m-%d') }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
